# ========================
# 全局/系统文件 (OS & IDE)
# ========================
.DS_Store
Thumbs.db
.vscode/
.idea/
imgs/

# ========================
# 后端 (Python / FastAPI)
# ========================
# 字节码编译文件 (类似 C++ 的 .o 文件，不需要提交)
__pycache__/
*.py[cod]
*$py.class

# 虚拟环境 (绝对不能提交！)
.venv/
venv/
env/

# 环境变量文件 (包含敏感信息，绝对不能提交！)
.env
.env.*


/backend/static
# ========================
# 前端 (Node.js / Next.js)
# ========================
# 依赖包 (体积巨大，不需要提交)
node_modules/



# Next.js 构建产物 (类似 build 文件夹)
.next/
out/
build/
dist/

# 前端环境变量
.env.local
.env.development.local
.env.test.local
.env.production.local

# 调试日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ========================
# 如果你以后用了 Vercel 部署
# ========================
.vercel